.banner{
    background: url(images/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.google{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.back{
    background: linear-gradient(180.00deg, rgb(243, 243, 243),rgba(243, 243, 243, 0) 100%);
    border: 1px solid rgb(231, 231, 231);
}
.back-1{
    border-bottom: 1px solid rgb(231, 231, 231) ;
}
.back-3{
    border-bottom: 1px solid rgb(231, 231, 231) ;
}
.back-4{
    border-right:  1px solid rgb(231, 231, 231);
}
.back-5{
    border-left: 1px solid rgb(231, 231, 231) ;
}
.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  